body{
    background-image: url(120aa2ce591b373837227f24491f4167.jpg);
    mask-repeat: no-repeat;
}

.whitebg{
    background-color: rgb(0, 0, 0);
    margin-left: -5px;
    height: 500px;
    width: 900px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-left: 375px;
}
.heading{
    margin-top: 0px;
    margin-left: 180px;
}
p{
    font-size: xx-large;
    margin-top: 50px;
    color: grey;
}
.audio-image{
    position: absolute;
    top: 10px; 
    left: 10px; 
     font-size: 24px; 
    height: 50px;
    /* /* margin-top: ; */
     margin-left: -10px;
     margin-top: 30px;
    cursor: pointer;  
}
h1{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: gray;
}
#title{
    margin-top: 30px;
}
.playbtn{
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-family: "Porter Sans Block", sans-serif;
    font-size: large;
    cursor: pointer;
    margin-left: 700px;
    border-radius: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid grey;
    transition: transform 0.3s ease;
}
.playbtntext{
    font-size: 50px; 
    position: relative;

}
.playbtn:hover {
    transform: scale(1.1); 
}
.play{
    display: flex;
    bottom: 100px;
    right: 50px;
}
.title{
    height: 10px;
}
.arrowimg{
    width:50px;
    position: absolute;
    margin-top:0px;
    margin-left: -50px;
    background-color: white;
}
.showarrow{
    display: none;
}

#musicControl{
    display: flex;
    top: 10px;
    left: 5px;
    height: 50px;
    margin-top: -660px;

}

.instructionsmobile{}
@media screen and (max-width: 768px) {
    .whitebg {
        width: 100%;
        border-radius: 0;
        margin: 0;
        height: auto;
    }
    .heading {
        margin-left: 0;
    }
    .playbtn {
        margin-left: calc(50% - 100px); /* Center the button */
        width: 200px;
    }
    .instructions {
        padding: 20px;
        display: none;
        opacity: 0; 
        transition: opacity 0.5s ease;
    }
    .instructions.show {
        opacity: 1; 
    }
    
    p {
        font-size: large;
    }
    .popup {
        
        transform: translateY(-100%); 
        transition: transform 0.5s ease; 
    }
    
    .popup.show {
        transform: translateY(0); 
    }
    
    h1 {
        font-size: 2.5rem;
    }
    #title {
        margin: 0 auto;
        display: block;
    }
    .arrowimg {
        display: none;
        animation: spin 2s linear infinite;
    }
    .instructionsmobile{
        display: inline;
    }
    #title{
        display: none;
    }
    .overlay {
        position: fixed;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .popup {
        background-color: rgb(98, 98, 98);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        color: white;
        margin-top: 400px;
      }
      
      .content {
        display: none;
      }
      .enterbtn{
        background-color: black;
        width: 100px;
        height:100px;
        margin-left: 50px;
        border-radius: 50px;
        color: aliceblue;
        font-size: xx-large;
        margin-top: 400px;
      }
      
    
}
.overlay {
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: rgb(98, 98, 98);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  .content {
    display: none;
  }
  .enterbtn{
    background-color: black;
    width: 100px;
    height:100px;
    margin-left: 50px;
    border-radius: 50px;
    color: aliceblue;
    font-size: xx-large;
  }
  
@media screen and (min-width: 769px) {
    .instructionsmobile{
        display: none;
    }
    .mobileheading{
        display: none;
    }

}
@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}


